In [ ]:
# Import dependencies.
from sqlite3 import connect
import pandas as pd

In [ ]:
# Connect or create a database.
conn = connect('./data/analysis.db')

In [ ]:
# Get cursor.
cursor = conn.cursor()

In [ ]:

# Create teachers table.
query = """
CREATE TABLE teachers (
    id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    school TEXT,
    hire_date TEXT,
    salary REAL
);
"""

cursor.execute(query)

In [ ]:
# Insert data into teachers table.
query = """
INSERT INTO teachers (first_name, last_name, school, hire_date, salary) VALUES ('Janet', 'Smith', 'F.D. Roosevelt HS', '2011-10-30', 36200),
       ('Lee', 'Reynolds', 'F.D. Roosevelt HS', '1993-05-22', 65000),
       ('Samuel', 'Cole', 'Myers Middle School', '2005-08-01', 43500),
       ('Samantha', 'Bush', 'Myers Middle School', '2011-10-30', 36200),
       ('Betty', 'Diaz', 'Myers Middle School', '2005-08-30', 43500),
       ('Kathleen', 'Roush', 'F.D. Roosevelt HS', '2010-10-22', 38500);
"""

cursor.execute(query)

In [ ]:
# Quickly look at the table.
df = pd.read_sql_query('SELECT * FROM teachers', conn)
df.head()

In [ ]:
df

In [ ]:
# Clean up teachers table.
query = """
DROP TABLE teachers;
"""

cursor.execute(query)

In [ ]:
# Close connection.
conn.close()